/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-size: 1em;
  max-width: 1200px;
}

/****** MOBIL FIRST ******/

/* General code to add so the img tag acts like a block element*/

img{
  max-width: 100%; 
}


.content-wrapper {
  width: 90%;
  margin: 50px 0;
  background-color: rgb(177, 194, 177);
}

/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  padding: 15px 0; /*pulls the header down from top of page*/
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* We are using a div to make a horizontal line */
.header-divider {
  background-color: black;
  width: 100%;
  height: 1px;
  margin: 10px 20px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  width: 100%;
  padding: 0; /* this removed some padding on left side so container centered in nav*/
}

header nav ul li {
  text-transform: uppercase;
  list-style: none; /* removes the bulletpoints of list items*/
}

header nav ul li a {
  text-decoration: none; /* remove the underline of a links */
  color: black;
}

footer {
  flex-direction: column;
}
footer p {
  margin: 0;
  
}

footer .content-wrapper {
  
  width: 55%;
  margin: 50px 0;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
footer .contact {
  text-align: center;
  margin-bottom: 50px;
  
}
footer .social {
  margin-bottom: 50px;
}
footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .copyright {
  text-align: center;
  margin: 20px 0;
}



/************************************************/
/************        HOME PAGE      *************/
/************************************************/

/************--------Main Section---------*******/
.hero-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column wrap;
  width: 100%;
  
}
.form-description{
  /**/
}
.form input {
  margin-bottom: 10px;
  padding: 10px;
} 
.email-field {
  font-style: italic; 
  color: gray;
    background: #fff;
    border-color: rgb(113, 110, 110);
    border-style: solid;
    padding: 115px 0;
}
.button-itinerary {
  text-transform: uppercase;
  color: white;
  background: teal;
  border-color: teal;
  border-style: solid;
  padding: 15px 0;
}
.form-description h3,
  .form h3 {
    margin-bottom: 5px;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features h2 {
  margin-bottom: 60px;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}
.features-items article {
  margin: 30px 0;
  width: 63%;
}
.features p {
  margin: 0;
}

/************--------Review Section---------*******/
.reviews  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.reviews h2 {
  margin-bottom: 40px; 
}

.reviews h3 {
  margin: 20px 0;
  width: 55%;
}

/************************************************/
/************        ABOUT PAGE      *************/
/************************************************/
.about {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: row wrap;
}
.about-content-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
  flex-flow: column wrap;
}
.about-content {
  padding-bottom: 20px;
}

.about-map {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.about-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.about-contact, p {
  margin: 0;
}
.about-contact, a {
  text-decoration: none;
  color: black;
}


/***********************************************/
/************        FAQ PAGE      *************/
/***********************************************/
.faq  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*********************************************************************/
/************************    TABLET     ******************************/
/*********************************************************************/

/*------------Main Page----------------------*/
@media (min-width: 768px) {
    
  /*--------Header/Footer ---------------*/
  header .logo-image {
      justify-content: flex-start;
      width: 30%;
    }
    .header-divider {
      background-color: transparent;
      width: 30%;
    }
    header nav {
      width: 30%;
    }
    header nav ul  {
      justify-content: space-around; /* for spacing around li elements */
    }
    
    footer p {
      margin: 0;
    }
    
    footer .content-wrapper {
      width: 90%;
    }
    .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: flex-start; 
      flex-flow: row wrap;
    }
    
/*---------- Main Page ------------*/
    .hero-area h1 {
      width: 50%;
   }
    aside .content-wrapper {
      justify-content: space-between;
      align-items: flex-start;
  }
  .form-description {
    display: flex;
    justify-content: center;
    align-items: flex-start; /*parent container*/
    flex-flow: column wrap;
    width: 40%;  
  }
  .form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch; /*parent container*/
    flex-flow: column wrap;
    width: 40%;
  }
 
  .features-items {
    flex-flow: row wrap;
    align-items: flex-start;
    }
  
  
  .features-items article {
    width: 30%;
    padding: 0 30px;
  }
  .features p {
    /**/
  }
  
  
  .reviews article {
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .review-image {
    width: 50%;
  }
  .review-written {
    width: 50%;
  }
  .reviews h2 {
    margin-bottom: 40px; 
  }
  
  .reviews h3 {
    margin: 0;
    width: 55%;
  }
  
  

 /*-----------------About Page Tablet--------------------*/
  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-flow: row wrap;    
  }
  .about-content {
    width: 50%;
    padding-bottom: 20px;
  }
  .about-map {
    width: 100%;
  }
  .about-contact {
    width: 100%;
  }

  .about-contact-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  } 
  .about-contact-1 {
    width: 40%;
  }
  .about-contact-2 {
    width: 40%;
  }
  /*----------------------FAQ Page Tablet---------------------*/
 .faq-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .faq-content {
    width: 45%;
  } 
  
}



/*********************************************************************/
/**********************      DESKTOP    ******************************/
/*********************************************************************/

/*------------Main Page Desktop----------------------*/
@media (min-width: 1200px){
  header nav ul  {
    justify-content: space-around; /* for spacing around li elements */
  }
  aside .content-wrapper {
    justify-content: space-around;
    align-items: flex-start;
  }
  .form,
  .form-description {
    width: 30%;
  }
  
  .features-items article {
    width: 20%;
    text-align: center;
    margin: 20px;
    /*margin: 0 10px;*/
  }
  .reviews article {
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  .review-image {
    width: 40%;
  }
  .review-written {
    width: 40%;
  }

  /*------------About Page Desktop----------------------*/
  .about-content-wrapper {
    justify-content: space-between;
  }
  
  .about-content {
    width: 45%;
  }
  

  /*------------FAQ Page----------------------*/
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}