/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /*MOBIL FIRST*/
   /* --------------------    General Styles     -------------------- */

html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: left;
}

ul, 
ol {
  list-style-type: none;
}

a {
	color: #e2e3ed;
  text-decoration: none;
}

h1 {
  color: #e2e3ed;
  font-size: 2.2em;
}

h2 {
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.875em;
}

h3, 
h4 {
  color: #e2e3ed;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  margin: 20px 0;
}

p {
	color: #e2e3ed;
}

img {
  width: 100%; 
}

address {
  color: #e2e3ed;
  font-style: normal;
}

address p {
  margin-top: 0;
}

.content-wrapper {
  margin: 50px 0;
  width: 90%;
}

/* -------------------- Base Header - Footer Styles -------------------- */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  background-color: #212322;
  padding: 15px 0; 
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 0;
}

/*Divider-line in header*/
.header-divider {
  background-color: #3a3a3a;
  height: 1px;
  margin: 10px 0 20px 0;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-size: 1.125em;
  font-weight: 700;
  text-transform: uppercase;
  width: 60%;
}

.nav-wrapper ul {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 0; 
  margin: 0;
  width: 100%;
}

header nav ul li {
  font-size: 1.125em
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212322;
  flex-direction: column;
  padding: 50px 0 10px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

/* Social media icons:  */
.fab {
  font-size: 2em;
  padding: 0 10px;
}

.copyright {
  padding: 35px 0 10px 0;
  text-align: center;
}

/*************************************************************/
/*******************        HOME PAGE      *******************/
/*************************************************************/

/************--------Main Section---------*******/
.hero-area {
  background: url('../img/jake-melara-30679-unsplash.jpg') #333; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 500px;
}

.hero-area h1 {
  font-size: 2.25em;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

.hero-area .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  margin-bottom: 0; 
}

aside {
  background-color: #537158;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside .content-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 30px 0;
}

aside .form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column wrap;
  margin-top: 30px;
  width: 100%;
}

/************** Buttons on Home Page ***********/
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.features {
  background: url('../img/rawpixel-800820-unsplash1.jpg') #333;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.features-items article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  margin: 30px 0;
  width: 63%;
}

.features p {
  margin: 0;
}
/* Features icons:  */
.fas {
  font-size: 2em;
  padding-bottom: 10px;
}


/************--------Review Section---------*******/
.reviews  {
  background-color: #2A413A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.review-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.review-image figure {
  margin: 0;
}

.reviews h2 {
  /* margin-bottom: 40px;  */
  width: 90%;
}

/*************************************************************/
/*******************        ABOUT PAGE     *******************/
/*************************************************************/

.about {
  background-color: #517158;
  padding-top: 20px;
}

.about-h2-top {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  width: 90%;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.about-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.about-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 90%; 
}

.map-container {
  width: 100%;
  height: 0; 
  padding-bottom: 60%; 
  overflow: hidden;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.about-contact-h2 {
  width: 90%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.about-contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-bottom: 50px;
}

.about-contact-1,
.about-contact-2 {
  text-align: center;
  padding-top: 20px;
}

.about-contact-1 p,
.about-contact-2 p {
  margin: 5px;
}
/*************************************************************/
/*******************        FAQ PAGE      ********************/
/*************************************************************/
.faq  {
  background-color: #517158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.faq-content h4 {
  line-height: 1.333;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   /*Working on getting logo to 90% edge in header.  Tablet view home page*/

/*********************************************************************/
/************************    TABLET     ******************************/
/*********************************************************************/

@media (min-width: 768px) {
  /*------------General Styles Tablet----------------------*/
 
  h2 {
    font-size: 2.25em;
    line-height: 1.333;
  }

  h3 {
      font-size: 1.5em;
      line-height: 1.25;
  }

  /*------------Header/Footer Tablet----------------------*/
  .header-container {
    justify-content: space-between;
    flex-flow: row wrap;
    width: 90%;
  }

  .logo-wrapper{
    width: 40%;
  }

  .logo-wrapper figure {
    margin-left: 0;
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  .nav-wrapper {
    width: 25%;
    margin-right: 0;
  }
  .nav-wrapper ul {
    justify-content: space-between;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 65%;
  }

  .copyright {
    padding: 50px 0 10px 0;
  }  

/*------------Hero Section Main Page Tablet----------------------*/
  .hero-area h1 {
    width: 60%;
    line-height: 1;
    margin: 0;
  }

  .hero-area .content-wrapper {
    justify-content: flex-start;
  }

  .hero-area {
    min-height: 600px;
  }

/*------------Aside Section Main Page Tablet----------------------*/
  aside .content-wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  aside .form-description {
    display: flex;
    justify-content: center;
    align-items: flex-start; /*parent container*/
    flex-flow: column wrap;
    width: 40%;  
  }

  aside .form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch; /*parent container*/
    flex-flow: column wrap;
    width: 45%;
  }

  aside .form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: column wrap;
    width: 45%;
    margin-top: 0; 
  }

  /*------------Features Section Main Page Tablet----------------------*/
  .features-items {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;   
  }

  .features article {
    flex-basis: 40%;  
  }

  /*------------Review Section Main Page Tablet----------------------*/
  .review-container {
    align-items: flex-start;
  }
  
  .review-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
  
  .review-image {
    width: 49%; 
  }

  .review-written {
    width: 48%; 
  }
  
  .reviews h3 {
    margin: 0 0 10px 0; 
    width: 100%;
  }
  
 /*-----------------About Page Tablet--------------------*/
  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-flow: row wrap;    
  }

  .about-content {
    width: 47%;
    padding-bottom: 20px;
  }
  
  .about-contact-h2 {
    margin-bottom: 0;
    width: 100%;
  }

  .map-container {
    padding-bottom: 37.5%;
  }
  
  .about-contact-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap; 
  } 

  .about-contact-1 {
    width: 50%;
  }

  .about-contact-2 {
    width: 50%;
  }

  /*----------------------FAQ Page Tablet---------------------*/
 .faq-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .faq-content {
    width: 45%;
  } 

  .faq h2 {
    width: 100%;
  }

  .faq h4,
  .faq p {
      font-size: .875em;
      line-height: 1.125;
  }
}

/*********************************************************************/
/**********************      DESKTOP    ******************************/
/*********************************************************************/

@media (min-width: 1200px){
  /*------------General Styles Desktop----------------------*/
  .content-wrapper {
    width: 80%;
  }

  .header-container {
    justify-content: space-between;
    flex-flow: row wrap;
    width: 80%;
  }
  
  h2 {
    font-size: 2.25em;
  }

  h3,
  h4 {
      font-size: 1.875em;    
  }

  p {
    font-size: 1.125em;
    line-height: 1.333;
  }

  /*------------Header Section Main Page Desktop----------------------*/
  header {
    padding: 15px;
  }

  /*------------Hero Section Main Page Desktop----------------------*/
  .hero-area h1 {
    font-size: 3.75em;
    width: 80%;
  }

  /*------------Aside Section Main Page Desktop----------------------*/
  aside .content-wrapper {
    justify-content: space-between;
    align-items: flex-start;
  }

  .form,
  .form-description {
    width: 30%;
  }

  .form-description p {
    font-size: 1.125em;
  }

  /*------------Features Section Main Page Desktop----------------------*/
  .features h2 {
    width: 90%;
  }

  .features article {
    flex-basis: 30%;
    text-align: center;
  }

  .features-items {
    justify-content: space-between;
  }

  /*------------Review Section Main Page Desktop----------------------*/
  .reviews article {
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
  }
 
  .reviews h2 {
    padding-bottom: 50px;
  }

  /*------------About Page Desktop------------------------------------*/
  
  .about-content-wrapper {
    justify-content: space-between;
    width: 80%;
  }

  .about-content {
    width: 47%;
  }

  .about-h2-top {
    width: 80%;
  }
 
  .about-h2-top,
  .about-contact-h2 {
    font-size: 3em;
  }

  .about-contact-1 h4,
  .about-contact-2 h4 {
    font-size: 1.875em;
  }

  .map-container {
    padding-bottom: 37.5%;
  }

  /*------------FAQ Page Desktop---------------------------------------*/
  .faq h2 {
    font-size: 3em;
    width: 100%;
  }
  
  .faq h4,
  .faq p {
    font-size: 1.125em;
    line-height: 1;
  }
}


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}